<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2014-03-10T01:00:00Z</date>
	<key>URLs</key>
	<array>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>大辞林</string>
				<key>en</key>
				<string>DAIJIRIN</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.DAIJIRIN</string>
			<key>URLScheme</key>
			<string>mkdaijirin</string>
			<key>SearchScopes</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>三省堂国語辞典</string>
				<key>en</key>
				<string>三省堂国語辞典</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.SANKOKU7</string>
			<key>URLScheme</key>
			<string>mksankoku7</string>
			<key>SearchScopes</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>新明解国語辞典</string>
				<key>en</key>
				<string>新明解国語辞典</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.SMK7</string>
			<key>URLScheme</key>
			<string>mksmk7</string>
			<key>SearchScopes</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>例解学習国語辞典</string>
				<key>en</key>
				<string>REIKOKU</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.REIKOKU</string>
			<key>URLScheme</key>
			<string>mkreikoku</string>
			<key>SearchScopes</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>角川類語新辞典</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.RUIGO</string>
			<key>URLScheme</key>
			<string>mkruigo</string>
			<key>SearchScopes</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>漢辞海</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Kanjikai</string>
			<key>URLScheme</key>
			<string>mkkanjikai</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>全訳古語辞典 第四版</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.KOGO2</string>
			<key>URLScheme</key>
			<string>mkkogo2</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>全訳古語辞典 第三版</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.KOGO</string>
			<key>URLScheme</key>
			<string>mkkogo</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>ウィズダム</string>
				<key>en</key>
				<string>WISDOM</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.WISDOM</string>
			<key>URLScheme</key>
			<string>mkwisdom</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>ウィズダム２</string>
				<key>en</key>
				<string>WISDOM2</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.WISDOM2</string>
			<key>URLScheme</key>
			<string>mkwisdom2</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>ランダムハウス英和大辞典</string>
				<key>en</key>
				<string>Random House</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.RHEJ</string>
			<key>URLScheme</key>
			<string>mkrhej</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>Collins English Dictionary</string>
				<key>en</key>
				<string>Collins English Dictionary</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.CED</string>
			<key>URLScheme</key>
			<string>mkced</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>コウビルド英英辞典</string>
				<key>en</key>
				<string>COBUILD British</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.CCADB</string>
			<key>URLScheme</key>
			<string>mkccadb</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>コウビルド英英辞典（米語）</string>
				<key>en</key>
				<string>COBUILD American</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.CCAD</string>
			<key>URLScheme</key>
			<string>mkccad</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>コウビルド英英和辞典</string>
				<key>en</key>
				<string>COBUILD 英英和</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.CCJAD</string>
			<key>URLScheme</key>
			<string>mkccjad</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>Dictionary</string>
				<key>en</key>
				<string>Dictionary</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>uk.co.harpercollins.CED2014</string>
			<key>URLScheme</key>
			<string>collins-dictionary</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>Collins</string>
				<key>en</key>
				<string>Collins</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>uk.co.harpercollins.CED2014WT</string>
			<key>URLScheme</key>
			<string>collins-dictionary+</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>英語類語辞典</string>
				<key>en</key>
				<string>英語類語辞典</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.SOEJT</string>
			<key>URLScheme</key>
			<string>mksoejt</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>英語コロケーション辞典</string>
				<key>en</key>
				<string>英語コロケーション辞典</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>en</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.PEC</string>
			<key>URLScheme</key>
			<string>mkpec</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>プチロワ</string>
				<key>en</key>
				<string>PETIT ROYAL</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>fr</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.PETIT</string>
			<key>URLScheme</key>
			<string>mkpetit</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>プチロワ仏和</string>
				<key>en</key>
				<string>PETIT ROYAL</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>fr</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.PETITPRF</string>
			<key>URLScheme</key>
			<string>mkpetitprf</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>プチロワ４</string>
				<key>en</key>
				<string>PETIT ROYAL4</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>fr</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.PETIT4</string>
			<key>URLScheme</key>
			<string>mkpetit4</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>ロベール</string>
				<key>en</key>
				<string>ROBERT</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>fr</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.ROBERT</string>
			<key>URLScheme</key>
			<string>mkrobert</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>伊和・和伊</string>
				<key>en</key>
				<string>Italian</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>it</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Italiano</string>
			<key>URLScheme</key>
			<string>mkitaliano</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>西和・和西</string>
				<key>en</key>
				<string>Spanish</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>es</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Espanol</string>
			<key>URLScheme</key>
			<string>mkespanol</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>アクセス独和</string>
				<key>en</key>
				<string>Access</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>de</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Access</string>
			<key>URLScheme</key>
			<string>mkaccess</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>アクセス</string>
				<key>en</key>
				<string>Access</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>de</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.AccessAll</string>
			<key>URLScheme</key>
			<string>mkaccessall</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>独和大辞典</string>
				<key>en</key>
				<string>German</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>de</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.GrossesDe2</string>
			<key>URLScheme</key>
			<string>mkgrossesde2</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>中日・日中</string>
				<key>en</key>
				<string>Chinese</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>zh</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.CrownCn</string>
			<key>URLScheme</key>
			<string>mkcrowncn</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>韓日・日韓</string>
				<key>en</key>
				<string>Korean</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>ko</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Korean</string>
			<key>URLScheme</key>
			<string>mkkorean</string>
		</dict>
		<dict>
			<key>DisplayNames</key>
			<dict>
				<key>ja</key>
				<string>現代ポ語辞典</string>
				<key>en</key>
				<string>Portuguese</string>
			</dict>
			<key>ContentsLanguages</key>
			<array>
				<string>pt</string>
				<string>ja</string>
			</array>
			<key>URLName</key>
			<string>jp.monokakido.Portugues</string>
			<key>URLScheme</key>
			<string>mkportugues</string>
		</dict>
	</array>
</dict>
</plist>
